.error-span {
    color: red;
}

#messages {
    display: table;
}

.message-container {
    display: table-row;
}

.username {
    display: table-cell;
}

.message {
    display: table-cell;
}

#message-input-container {

}

#message-input-field {
    height: auto;
    min-height: 40px;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 8px;
    font-size: 16px;
    background-color: chartreuse;
    border: 1px solid #888888;
    border-radius: 10px;
    word-wrap: break-word;
}

#message-input-field:focus {
    outline: 0px solid transparent;
}