@()

@main("Welcome to PlayChat") {
    <div id="main-container">
        @header()

        <script>
            $(function() {
                function post(url, data, success) {
                    return $.ajax({
                        url: url,
                        type: 'POST',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: success
                    });
                }

                var lastId = -1;

                function loadMessages() {
                    var url = '@routes.ChatController.getMessages()';
                    var data = {};
                    if(lastId !== -1) {
                        data = {id: lastId};
                    }
                    post(url, data, function(response) {
                        var html = '';
                        var firstTime = (lastId === -1);
                        for(var i = 0; i < response.length; i++) {
                            html += getMessageHTML(response[i].time, response[i].username, response[i].message);
                            lastId = response[i].id;
                        }
                        $('#messages').append(html);
                        if(firstTime) {
                            scrollToBottomAlways();
                            setTimeout(scrollToBottomAlways, 500); // for slow devices
                        } else if(response.length > 0) {
                            scrollToBottom();
                        }
                    }).fail(function() {
                        log('Error retrieving messages');
                        window.location.href = '@routes.HomeController.index()';
                    });
                }

                function postMessage(message) {
                    if(message === '') return;

                    var url = '@routes.ChatController.postMessage()';
                    var data = {
                        message: message
                    };
                    post(url, data, function(response) {
                        // ok
                    }).fail(function() {
                        alert('Error posting message');
                    });
                }

                function getMessageHTML(time, username, message) {
                    return '<div class="message-container">'
                             + '    <div class="username">' + username + '</div>'
                             + '    <div class="message">' + message + '</div>'
                             + '</div>';
                }

                /**
                 * scroll to bottom if message input box is visible
                  */
                function scrollToBottom() {
                    var windowHeight = $(window).height();
                    var documentHeight = $(document).height();
                    var scrollTop = $(window).scrollTop();
                    if(documentHeight - (windowHeight + scrollTop) < 100) {
                        $(window).scrollTop(documentHeight);
                    }
                }

                /**
                 * just scrolls to bottom
                 */
                function scrollToBottomAlways() {
                    var documentHeight = $(document).height();
                    $(window).scrollTop(documentHeight);
                }

                (function loader() {
                    loadMessages();
                    setTimeout(loader, 500);
                })();

                var messageField = $('#message-input-field');
                messageField.keypress(function(event) {
                    if(event.which == 13 && !event.shiftKey) {
                        postMessage(messageField.val());
                        messageField.val('');
                        event.preventDefault();
                        event.stopPropagation();
                    }
                });
            });
        </script>

        <div class="btn-group logout-btn form-element form-element-width">
            <a class="btn btn-default" href="@routes.HomeController.logout()">Log out</a>
        </div>

        <div id="messages" class="messages-table"></div>

        <div id="message-input-container">
            <textarea id="message-input-field"></textarea>
        </div>
    </div>
}