@()

@main("Welcome to PlayChat") {
    <div id="main-container">
        @header()

        <script>
            $(function() {
                function post(url, data, success) {
                    return $.ajax({
                        url: url,
                        type: 'POST',
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: success
                    });
                }

                var lastId = -1;

                function loadMessages() {
                    var url = '@routes.ChatController.getMessages()';
                    var data = {};
                    if(lastId !== -1) {
                        data = {id: lastId};
                    }
                    post(url, data, function(response) {
                        for(var i = 0; i < response.length; i++) {
                            addMessage(response[i].time, response[i].username, response[i].message);
                            lastId = response[i].id;
                        }
                    }).fail(function() {
                        log('Error retrieving messages');
                    });
                }

                function postMessage(message) {
                    if(message === '') return;

                    var url = '@routes.ChatController.postMessage()';
                    var data = {
                        message: message
                    };
                    post(url, data, function(response) {
                        // ok
                    }).fail(function() {
                        alert('Error posting message');
                    });
                }

                function addMessage(time, username, message) {
                    var html = '<div class="messages-table">'
                             + '    <div class="message-container">'
                             + '        <div class="username">' + username + '</div>'
                             + '        <div class="message">' + message + '</div>'
                             + '    </div>'
                             + '</div>';
                    $('#messages').append(html);

                    // scroll to bottom if message input box is visible
                    var windowHeight = $(window).height();
                    var documentHeight = $(document).height();
                    var scrollTop = $(window).scrollTop();
                    if(documentHeight - (windowHeight + scrollTop) < 100) {
                        $(window).scrollTop(documentHeight);
                    }
                }

                (function loader() {
                    loadMessages();
                    setTimeout(loader, 500);
                })();

                var messageField = $('#message-input-field');
                messageField.keypress(function(event) {
                    if(event.which == 13 && !event.shiftKey) {
                        postMessage(messageField.val());
                        messageField.val('');
                        event.preventDefault();
                        event.stopPropagation();
                    }
                });
            });
        </script>

        <div id="messages"></div>

        <div id="message-input-container">
            <textarea id="message-input-field"></textarea>
        </div>
    </div>
}