@import views.html.helper

@(form: Form[HomeModel])

@main("Welcome to PlayChat") {
    <div id="main-container">
        @header()
        <div class="error-span">@form("loginError").value</div>
        <div class="success-span">@form("successMessage").value</div>
        @helper.form(action = routes.HomeController.login) {
            <div>
                <input type="text" name="@form("username").name" value="@form("username").value" placeholder="Your username">
            </div>
            <div>
                <input type="password" name="@form("password").name" value="@form("password").value" placeholder="Your password">
            </div>
            <div>
                <input type="submit" name="submit" value="Login to PlayChat">
                <a href="@routes.RegisterController.register">Register</a>
            </div>
        }
        <script>
            $(function() {
                $('input[name="@form("username").name"]').focus();
            });
        </script>
    </div>
}
