@import views.html.helper

@(form: Form[HomeModel])

@main("Welcome to PlayChat") {
    <div id="main-container">
        @header()
        <span class="error-span">@form("loginError").value</span>
        <span class="success-span">@form("successMessage").value</span>
        @helper.form(action = routes.HomeController.login) {
            <div>
                <input type="text" name="@form("username").name" value="@form("username").value" placeholder="Your username">
            </div>
            <div>
                <input type="password" name="@form("password").name" value="@form("password").value" placeholder="Your password">
            </div>
            <div>
                <input type="submit" name="submit" value="Login to PlayChat"> <a href="@routes.RegisterController.register">Register</a>
            </div>
        }
    </div>
}
