@import views.html.helper

@(form: Form[HomeModel])

@main("Welcome to PlayChat") {
    <div id="main-container">
        @header()
        <div class="error-span form-element form-element-width">@form("loginError").value</div>
        <div class="success-span form-element">@form("successMessage").value</div>
        @helper.form(action = routes.HomeController.login) {
            <div class="form-group form-element form-element-width">
                <input type="text" class="form-control" name="@form("username").name" value="@form("username").value" placeholder="Your username" autocomplete="off">
            </div>
            <div class="form-group form-element form-element-width">
                <input type="password" class="form-control" name="@form("password").name" value="@form("password").value" placeholder="Your password" autocomplete="off">
            </div>
            <div class="btn-group btn-group-justified form-element form-element-width">
                <div class="btn-group" style="width: 160px;">
                    <input type="submit" class="btn btn-default" name="submit" value="Login to PlayChat">
                </div>
                <div class="btn-group" style="width: 80px;">
                    <a class="btn btn-default" href="@routes.RegisterController.register">Register</a>
                </div>
            </div>
        }
        <script>
            $(function() {
                $('input[name="@form("username").name"]').focus();
            });
        </script>
    </div>
}
